[submodule "LibSL"]
	path = libs/LibSL
	url = https://github.com/sylefeb/LibSL
	branch = imgui_latest

[submodule "chill-nodes"]
	path = chill-nodes
	url = https://github.com/shapeforge/chill-nodes
	branch = master

[submodule "tinyfiledialogs"]
	path = libs/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
	branch = master
