[submodule "chill-nodes"]
	path = chill-nodes
	url = https://github.com/shapeforge/chill-nodes
	branch = master

[submodule "chill-models"]
	path = chill-models
	url = https://github.com/shapeforge/chill-models
	branch = master

[submodule "tinyfiledialogs"]
	path = libs/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
	branch = master
	ignore = dirty
	
[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
